:root{
    background-color: #d3d3d3;
    }
    html {
    text-align: center !important;
    }
    .center{
    margin-left: auto;
    margin-right: auto;
    }
    img {
    display: block;
    text-align: center;
    max-width: 100%;
    height: auto;
    }